div.z-window-header  {
	margin-left: 32px;
	background-color: #102d35;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
}
div.z-window {
	background-color: #102d35;
}
.banner {
	background-color: #102d35;
	color: white;
	padding: 5px 10px
}

.banner-head {
	font-family: Helvetica;
	margin-left: 16px;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 8px;
	cursor: default;
}

.footer {
	background-color: #102d35;
	color: white;
	padding-top: 5px;
}

.z-center {
	margin-top: 16px;
}

.z-navbar {
	margin: 16px;
}
.z-navbar > ul,
.z-navbar .z-nav-inner {
	background-color: #FFF;
}

.z-navbar .z-nav-inner > li {
	background-color: #dcdcdc;
	border-radius: 0px;
}

.z-navbar > ul > li {
	background-color: #f0f0f0;
	border-left-style: none;
}

.z-navbar > ul >.z-nav-selected {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}

.z-navbar .z-nav-selected .z-nav-content {
	border-left: 5px solid #102d35;
	padding-left: 12px;
}

.z-navbar .z-nav-selected.z-nav-open .z-nav-content {
	border-left: 1px solid #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 16px;
}

.z-navitem-content[disabled] {
	text-decoration: line-through;
}

.z-navbar > ul > li.z-navitem-selected,
.z-nav > .z-nav-inner > li.z-navitem-selected {
	border-width: 1px;
	border-style: solid;
	border-color: #102d35;
	border-radius: 0px;
}

.z-navitem-selected a {
	color: #fff;
	background-color: #102d35;
}

body {
	font-family: Sans-serif;
	letter-spacing: 1px;
}