div.z-window-header  {
	margin-left: 32px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
}
div.z-window,
div.z-window-header,
.banner,
.footer
 {
	background-color: #102d35;
}
.banner {
	color: white;
	padding: 5px 10px
}

.banner-head {
	font-family: Helvetica;
	margin-left: 16px;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 8px;
	cursor: default;
}

.footer {
	color: white;
	padding-top: 5px;
	padding-left: 20px
}

.z-center {
	margin-top: 16px;
}

.z-navbar {
	margin: 16px;
}
.z-nav-info {
	background: #555555;
}
.z-navbar-vertical .z-nav-content:before,
.z-navbar-vertical .z-navitem-selected .z-navitem-content,
.z-navbar-vertical .z-navitem-selected:hover .z-navitem-content,
.z-navbar-horizontal .z-nav-content:before,
.z-navbar-horizontal .z-navitem-selected .z-navitem-content,
.z-navbar-horizontal .z-navitem-selected:hover .z-navitem-content,
.z-navbar-collapsed > ul > .z-navitem-selected:hover >.z-navitem-content,
.z-nav-popup .z-navitem-selected .z-navitem-content,
.z-nav-popup .z-navitem-selected:hover .z-navitem-content  {
	background: #102d35;
}
.z-navitem-content[disabled] span {
	text-decoration: line-through;
}

body {
	font-family: Sans-serif;
	letter-spacing: 1px;
}